#root{
  width: 100vw;
  height: 100vh;
}

body{
  --color-background: #fafafa;
  --color-text: #fafafa;
  height: 100vh;
  overflow: hidden;
}
body.dark{
  --color-background: #1f2023;
  --color-text: #1f2023;
}

body.dark{
  background-color: var(--color-background);
  color: var(--color-text);
}

span.dark{
  color: #fafafa;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title-text{
  text-align: center;
}

.timer-settings, .timer-controls{
  display: flex;
  flex-direction: row;
}

.timer-settings{
  justify-content: space-evenly;
}

.timer-controls{
  justify-content: center;
}

.minutes,.seconds{
  text-align: center;
  font-weight: 1000;
  font-size: 2em;
}

.setTime{
  width: 60px;
  padding: 0 10px 0 10px;
  display: inline-block
}

.alerts{
  height: 60px;
  margin: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.alerts.show{
  visibility: visible;
  opacity: 1;
}

button{
  padding: 0;
  background-color: transparent;
}

button:hover{
  color: #0d6efd;
  border-color: transparent;
}

.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.controls{
  margin: 10px;
  width: 40px;
}

.middle-text{
  position: absolute;
  font-size: 44px;
}

circle{
  stroke-dashoffset: 0;
}
