#root{
  width: 100vw;
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title-text{
  text-align: center;
}

.timer-settings, .timer-controls{
  display: flex;
  flex-direction: row;
}

.timer-settings{
  justify-content: space-evenly;
}

.timer-controls{
  justify-content: center;
}

.minutes,.seconds{
  text-align: center;
  font-weight: 1000;
  font-size: 2em;
}

.setTime{
  width: 60px;
  padding: 0 10px 0 10px;
  display: inline-block
}

.alerts{
  height: 60px;
  margin: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.alerts.show{
  visibility: visible;
  opacity: 1;
}

button{
  padding: 0;
  background-color: transparent;
}

button:hover{
  color: #0d6efd;
  border-color: transparent;
}

.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.outer-bar{
  height: 320px;
  width: 320px;
  padding: 40px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
  border-radius: 50%;
}

.inner-bar {
  height: 240px;
  width: 240px;

  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
   inset -4px -4px 6px -1px rgba(255,255,255,0.7),
   -0.5px -0.5px 0px rgba(255,255,255,1),
   0.5px 0.5px 0px rgba(0,0,0,0.15),
   0px 12px 10px -10px rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

circle{
  fill: none;
  stroke-width: 40px;
}

.progress-bar{
  position: relative;
  top: -280px;
  left: -40px;
}

.controls{
  margin: 0 10px 0 10px;
  width: 40px;
}